[Unit]
Description=Apache Kafka Server
After=network.target

[Service]
User={{ kafka_user }}
Group={{ kafka_group }}
ExecStart={{ kafka_install_dir }}/current/bin/kafka-server-start.sh {{ kafka_install_dir }}/current/config/server.properties
ExecStop={{ kafka_install_dir }}/current/bin/kafka-server-stop.sh
Restart=on-failure
LimitNOFILE=100000

[Install]
WantedBy=multi-user.target

